* {
  box-sizing: border-box;
  direction: rtl;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;

  margin: 0;
  padding: 0;
}

header {
  background: rgb(54, 51, 51);
  /* margin: 0 auto; */
}

.mycontainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5%;
  /* border: solid black 2px; */
}

.header {
  /* padding-top: 3%; */
  overflow: hidden;
}

.headNav {
  display: inline-flex;
  gap: 10px;
  position: absolute;
  left: 10%;
}

.headLogo {
  float: right;
  height: 100px;
  border-radius: 50%;
  /* position: relative; */
  /* bottom: 30px; */
}

.headerh1 {
  text-align: center;
  margin-left: 100px;
  color: wheat;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
.footNav {
  display: inline-flex;
  flex-direction: column;
}

.footInfo {
  display: inline-flex;
  flex-direction: column;
}

.myCard {
  width: 250px;
  height: 450px;
  border: rgba(70, 62, 62, 0.546) solid 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 3px;
  /* margin: 0 auto; */
}

.store {
  margin: 0 auto;
  display: flex;
  width: 80%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  /* margin-bottom: 30px; */
  /* border: 3px blue solid; */
}

.hcard {
  border: black solid 2px;
  border-radius: 50px;
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  padding: 20px;
}

.home {
  margin: 0 auto;
  display: grid;
  width: 50%;
  grid-template-columns: repeat(2, 1fr);
  /* border: black 1px solid; */
  justify-items: center;
  gap: 10px;
}

.product {
  direction: ltr;
  padding: 5%;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}
.forms {
  width: 17%;
  border: 1px black solid;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 10px;
  border-radius: 10px;
}
.addForms {
  width: 20%;
  border: 1px black solid;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 10px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  body {
    direction: ltr;
  }
  .store {
    display: flex;
    gap: 15px;
  }
  .home {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  .header {
    padding-top: 1%;
    padding-right: 2%;
    padding-bottom: 10px;
    /* height: 140px; */
  }
  .headLogo {
    height: 70px;
    /* padding-left: 3px; */
  }
  .headNav {
    left: 5%;
    font-size: small;
  }
  .myCard {
    width: 300px;
    border: rgba(70, 62, 62, 0.546) solid 3px;
    padding: 1px;
  }
  .hcard {
    width: 100%;
    font-size: 125%;
  }
  .forms {
    width: 60%;
  }
  .addForms {
    width: 60%;
    border: 2px black solid;
    padding: 5px;
  }
  .footNav {
    display: inline-flex;
    flex-direction: column;
  }
}
@media (max-width:480) {
    .header {
    padding-top: 10%;
    padding-right: 2%;
    padding-bottom: 25px;
    /* height: 140px; */
  }
  .headLogo {
    height: 70px;
    padding-left: 3px;
  }
}
